body{
    background-color: rgb(159, 158, 158);
    text-align: center;
    display: flex;
    flex-direction:row;
    justify-content: center;
    
}
#game-container{
column-gap: 1000px;

}
#pc{
    display: inline-block;
    width: 250px;
    height: 250px;
}

.items{
    width: 150px;
    height: 150px;
    
}
#hand{
    display: flex;
    gap: 40px;
    justify-content: center;
}
#middle{
    height: 45vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;

}

.items:hover{
    cursor: pointer;
}
h1{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#pc-score{
    font-size: 40px;
}
#my-score{
    font-size: 40px;


}
#PCTableHandOne{
    width: 150px;
    height: 150px;
    transform: rotate(180deg);
}

#PCTableHandTwo{
    width: 150px;
    height: 150px;
    transform: rotate(180deg);

}
#PCTableHandThee{
    width: 150px;
    height: 150px;
    transform: rotate(180deg);

}
#TableHandOne{
width: 150px;
height: 150px;

}
#TableHandTwo{
    width: 150px;
    height: 150px;
}
#TableHandThee{
    width: 150px;
    height: 150px;
}
#StartAnimation{
    animation: breathe 3000ms infinite forwards;
    
}

@keyframes breathe{
    50%{
        transform: scaleX(1.3)
        scaleY(1.1);
    }
    100%{
        transform: scaleX(1) scaleY(1);
    }
}